APP_NAME=jobHunt
APP_ENV=dev
DEBUG=true

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=jobhunt

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

SCRAPER_HEADLESS=false
DJINNI_URL=https://djinni.co/jobs/?primary_keyword=Python&exp_level=no_exp
