APP_NAME=jobHunt
APP_ENV=dev
DEBUG=true

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=jobhunt

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

DISCORD_WEBHOOK_URL=
DISCORD_BOT_TOKEN=
DISCORD_CHANNEL_ID=

SCRAPER_HEADLESS=false
SCRAPER_NAVIGATION_TIMEOUT_MS=60000
SCRAPER_SELECTOR_TIMEOUT_MS=10000
SCRAPER_RETRY_COUNT=2
NORMALIZATION_USE_GPT4FREE=false
DJINNI_URL=https://djinni.co/jobs/?primary_keyword=Python&exp_level=no_exp
PRACA_PL_URL=https://www.praca.pl/s-python.html

API_PORT=8000
